:root {
/** Primary colors */
--color-primary-a0: #f1eee5;
--color-primary-a10: #c4c2bb;
--color-primary-a20: #9a9892;
--color-primary-a30: #71706c;
--color-primary-a40: #4b4a47;
--color-primary-a50: #272726;

/** Accent colors */
--color-accent-a0: #708570;
--color-accent-a10: #5d6e5d;
--color-accent-a20: #4a574a;
--color-accent-a30: #384238;
--color-accent-a40: #272d27;
--color-accent-a50: #171a17;

/** Neutral colors */
--color-neutral-a0: #ffffff;
--color-neutral-a10: #c6c6c6;
--color-neutral-a20: #919191;
--color-neutral-a30: #5e5e5e;
--color-neutral-a40: #303030;
--color-neutral-a50: #000000;
}
